@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #f7f7f7;
 }


.container{
    background: #6868af;
    width: 98%;
    border-bottom-left-radius: 50px;
}


/* Sign up form*/

.form{
    padding: 25px 30px;
}

.form header{
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    color: #fff;
}

.form form{
    margin: 20px 0;
}

.form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #f5c6cb;
    display: none;
}

.form form .name-details{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.form form .name-details .field:first-child{
    margin-right: 10px;
    width: 100%;
}

.form form .name-details .field:last-child{
    margin-left: 10px;
    width: 100%;
}

.form form .field{
    display: flex;
    position: relative;
 flex-direction: column;
   margin-bottom: 10px;
}

.form form .field label{
    margin-bottom: 2px;
    color: #fff;
}

.form form .field input{
   outline: none;
}

.form form .input input{
height: 40px;
width: 100%;
font-size: 16px;
padding: 0 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form form .image input{
    font-size: 17px;
    color: #fff;
}

.form form .button input{
 margin-right: 13px;
 margin-top: 13px;
 height: 45px;
 border: none;
 font-size: 17px;
 font-weight: 600;
background: #84D1D6;;
 border-radius: 5px;
 cursor: pointer;
color: #333;
}

.form form .field i.active:before{
 content: "\f070";
 color: #333;
}

.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
    color: #fff;
}

.form .link a{
    color: #fff;
}   

.form .link a:hover{
    text-decoration: underline;
}


.users{
    padding: 25px 30px;
    color: #fff;
}


.users header, .users-list a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.container img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}


.users header .content img{
    height: 50px;
    width: 50px;
} 

:is(.users, .users-list) .details{
    color: #fff;
    margin-left: 15px;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    background: #84D1D6;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.users .search{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    font-size: 16px;
    padding: 0 13px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    height: 42px;
    width: 47px;
 border: none;
 outline: none;
 color: #333;
 background: #fff;
 border-radius: 0 5px 5px 0;
 cursor: pointer;
 font-size: 17px;
 transition: all 0.2s ease;
}

.users .search button.active{
    background: #333;
    color: #fff;
}


.users .search button.active i::before{
   content: "\f00d";
}

.users-list{
max-height: 350px;
overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0px;
}

.users-list a{
    padding: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
   border-bottom-color: #f1f1f1;

}

.users-list a:last-child{
    margin-bottom: 0;
    border: none;
}

.users-list a .content img{
   height: 40px;
   width: 40px;
}

.users-list a .content p{
    color: #ccc;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

.users-list a .status-dot.offline{
    color: #ccc;

}

  
/* Chat area css code*/

.wrapper{
    background: #fff;
    width: 98%;
    border-bottom-left-radius: 50px;
}

.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.chat-area header img{
 height: 45px;
 width: 45px;
 margin: 0 15px;    
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    background: #eee;
    padding: 10px 30px 20px 30px;
    overflow-y: auto;
}

.chat-box .chat{
margin: 15px 0;
}

.chat-box .chat p{
   padding: 8px 16px;
} 

.chat-box .outgoing{
    display: flex;
}

.chat-box .incoming img{
   height: 35px;
    width: 35px;
}   

.chat-box .incoming{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    align-items: flex-end;
}

.incoming .details p{
  color: #333;
  background: #fff;
  border-radius: 18px 18px 18px 0;
}

.incoming .details{
    margin-left: 10px;
    max-width: calc(100% - 130px);
    margin-right: auto; 
}

.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p{
background: #333;
color: #fff;
border-radius: 18px 18px 0 18px;
}

.chat-area .typing-area{
    display: flex;
  justify-content: space-between;
    padding: 18px 30px;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}

.typing-area button{
width: 55px;
border: none;
outline: none;
background: #333;
color: #fff;
font-size: 19px;
cursor: pointer;
border-radius: 0 5px 5px 0;
}







@media screen and (min-width:760px) {
    .container{
        width: 700px;
    }
    .wrapper{
        width: 700px;
    }
    .form form .input input{
        height: 50px;
        }
        .input label{
            font-size: 18px;
        }
        .image label{
            font-size: 18px;
        }

        .button input[type="submit"] {
            font-size: 18px;
        }
        .form header{
            font-size: 30px;
        }
        .users .search input{
            height: 50px;
          }
    
          .users .search button.active{
            height: 50px;
         }
  }

  @media screen and (min-width:1000px) {
    .container{
       width: 950px;
    }
    .wrapper{
        width: 950px;
    }
  }
